# ASPEED FMC_SPI

# Copyright (c) 2021 ASPEED Technology Inc. <chin-ting_kuo@aspeedtech.com>
# SPDX-License-Identifier: Apache-2.0

config SPI_ASPEED
	select SPI_NOR_MULTI_DEV
	bool "ASPEED SPI(FMC) driver"
	help
	  Enable ASPEED SPI(FMC) controller driver.

config SPI_DMA_SUPPORT_ASPEED
	depends on SPI_ASPEED
	bool "Enable ASPEED SPI DMA"
	default n
	help
	  Enable ASPEED SPI DMA. Notice, both
	  flash start addrss and ram start address
	  MUST be 4-byte aligned.
