# SPDX-License-Identifier: Apache-2.0
#
# Aspeed BIC AST1060 board configuration
#
# Copyright (c) 2021 ASPEED Technology Inc.

if BOARD_AST1060_EVB
config BOARD
	default "ast1060_evb"
endif # BOARD_AST1060_EVB

