/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2021 ASPEED Technology Inc.
 */
&pinmux {
	pinctrl_adc0_default: adc0_default {};
	pinctrl_adc1_default: adc1_default {};
	pinctrl_adc2_default: adc2_default {};
	pinctrl_adc3_default: adc3_default {};
	pinctrl_adc4_default: adc4_default {};
	pinctrl_adc5_default: adc5_default {};
	pinctrl_adc6_default: adc6_default {};
	pinctrl_adc7_default: adc7_default {};
	pinctrl_adc8_default: adc8_default {};
	pinctrl_adc9_default: adc9_default {};
	pinctrl_adc10_default: adc10_default {};
	pinctrl_adc11_default: adc11_default {};
	pinctrl_adc12_default: adc12_default {};
	pinctrl_adc13_default: adc13_default {};
	pinctrl_adc14_default: adc14_default {};
	pinctrl_adc15_default: adc15_default {};
	pinctrl_i2c0_default: i2c0_default {};
	pinctrl_i2c1_default: i2c1_default {};
	pinctrl_i2c2_default: i2c2_default {};
	pinctrl_i2c3_default: i2c3_default {};
	pinctrl_i2c4_default: i2c4_default {};
	pinctrl_i2c5_default: i2c5_default {};
	pinctrl_i2c6_default: i2c6_default {};
	pinctrl_i2c7_default: i2c7_default {};
	pinctrl_i2c8_default: i2c8_default {};
	pinctrl_i2c9_default: i2c9_default {};
	pinctrl_i2c10_default: i2c10_default {};
	pinctrl_i2c11_default: i2c11_default {};
	pinctrl_i2c12_default: i2c12_default {};
	pinctrl_i2c13_default: i2c13_default {};
	pinctrl_i2c14_default: i2c14_default {};
	pinctrl_i2c15_default: i2c15_default {};
	pinctrl_i3c0_default: i3c0_default {};
	pinctrl_i3c1_default: i3c1_default {};
	pinctrl_i3c2_default: i3c2_default {};
	pinctrl_i3c3_default: i3c3_default {};
	pinctrl_hvi3c2_default: hvi3c2_default {};
	pinctrl_hvi3c3_default: hvi3c3_default {};
	pinctrl_hvi3c4_default: hvi3c4_default {};
	pinctrl_hvi3c5_default: hvi3c5_default {};
	pinctrl_arm_ice_default: arm_ice_default {};
	pinctrl_jtagm0_default: jtagm0_default {};
	pinctrl_jtagm1_default: jtagm1_default {};
	pinctrl_pwm0_default: pwm0_default {};
	pinctrl_pwm1_default: pwm1_default {};
	pinctrl_pwm2_default: pwm2_default {};
	pinctrl_pwm3_default: pwm3_default {};
	pinctrl_pwm4_default: pwm4_default {};
	pinctrl_pwm5_default: pwm5_default {};
	pinctrl_pwm6_default: pwm6_default {};
	pinctrl_pwm7_default: pwm7_default {};
	pinctrl_pwm8_default: pwm8_default {};
	pinctrl_pwm9_default: pwm9_default {};
	pinctrl_pwm10_default: pwm10_default {};
	pinctrl_pwm11_default: pwm11_default {};
	pinctrl_pwm12_default: pwm12_default {};
	pinctrl_pwm13_default: pwm13_default {};
	pinctrl_pwm14_default: pwm14_default {};
	pinctrl_pwm15_default: pwm15_default {};
	pinctrl_sgpiom0_default: sgpiom0_default {};
	pinctrl_sgpiom1_default: sgpiom1_default {};
	pinctrl_tach0_default: tach0_default {};
	pinctrl_tach1_default: tach1_default {};
	pinctrl_tach2_default: tach2_default {};
	pinctrl_tach3_default: tach3_default {};
	pinctrl_tach4_default: tach4_default {};
	pinctrl_tach5_default: tach5_default {};
	pinctrl_tach6_default: tach6_default {};
	pinctrl_tach7_default: tach7_default {};
	pinctrl_tach8_default: tach8_default {};
	pinctrl_tach9_default: tach9_default {};
	pinctrl_tach10_default: tach10_default {};
	pinctrl_tach11_default: tach11_default {};
	pinctrl_tach12_default: tach12_default {};
	pinctrl_tach13_default: tach13_default {};
	pinctrl_tach14_default: tach14_default {};
	pinctrl_tach15_default: tach15_default {};
	pinctrl_uart11_default: uart11_default {};
};
