/ {
	resources {
		compatible = "demo,gpio_basic_api";
		out-gpios = <&gpio0_m_p 5 0>;
		in-gpios = <&gpio0_m_p 19 0>;
	};
};

&i2cfilter {
	pinctrl-0 = <&pinctrl_smbflt_default>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&pinctrl_i2c0_default>;

	eeprom0: eeprom0@40 {
		compatible = "atmel,at24";
		reg = <0x40>;
		label = "EEPROM_SLAVE_0";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb0: ipmb0@50 {
		compatible = "aspeed,ipmb";
		reg = <0x50>;
		label = "IPMB_SLAVE_0";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&i2c1 {
	pinctrl-0 = <&pinctrl_i2c1_default>;
	status = "okay";

	eeprom1: eeprom1@41 {
		compatible = "atmel,at24";
		reg = <0x41>;
		label = "EEPROM_SLAVE_1";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb1: ipmb1@51 {
		compatible = "aspeed,ipmb";
		reg = <0x51>;
		label = "IPMB_SLAVE_1";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&i2c2 {
	pinctrl-0 = <&pinctrl_i2c2_default>;
	status = "okay";

	eeprom2: eeprom2@42 {
		compatible = "atmel,at24";
		reg = <0x42>;
		label = "EEPROM_SLAVE_2";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb2: ipmb2@52 {
		compatible = "aspeed,ipmb";
		reg = <0x52>;
		label = "IPMB_SLAVE_2";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&i2c3 {
	pinctrl-0 = <&pinctrl_i2c3_default>;
	status = "okay";

	eeprom3: eeprom3@43 {
		compatible = "atmel,at24";
		reg = <0x43>;
		label = "EEPROM_SLAVE_3";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb3: ipmb3@53 {
		compatible = "aspeed,ipmb";
		reg = <0x53>;
		label = "IPMB_SLAVE_3";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&i2c4 {
	pinctrl-0 = <&pinctrl_i2c4_default>;
	status = "okay";

	eeprom4: eeprom4@44 {
		compatible = "atmel,at24";
		reg = <0x44>;
		label = "EEPROM_SLAVE_4";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb4: ipmb4@54 {
		compatible = "aspeed,ipmb";
		reg = <0x54>;
		label = "IPMB_SLAVE_4";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&i2c5 {
	pinctrl-0 = <&pinctrl_i2c5_default>;
	status = "okay";

	eeprom5: eeprom5@45 {
		compatible = "atmel,at24";
		reg = <0x45>;
		label = "EEPROM_SLAVE_5";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb5: ipmb5@55 {
		compatible = "aspeed,ipmb";
		reg = <0x55>;
		label = "IPMB_SLAVE_5";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&wdt4 {
	status = "okay";
};

&spim0 {
	status = "okay";
};

&fmc {
	status = "okay";
};

&fmc_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&fmc_cs1 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};


/* Use AST1060 SPI2 as the internal SPI master to
 * to access the SPI flashes connected to SPI monitors
 * Here,
 * "SPI2_CS0" used to access flash connected to SPI_Monitor_1,
 * "SPI2_CS1" is used to access flash connected to SPI_Monitor_2,
 * "SPI2_CS2" is used to access flash connected to SPI_Monitor_3,
 * "SPI2_CS3" is used to access flash connected to SPI_Monitor_4.
 */

&spi2_cs0 {
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	reg = <0>;
	status = "okay";
};

&spi2_cs1 {
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	reg = <1>;
	status = "okay";
};

&spi2 {
	internal-mux-master = <2>;
	spi-monitor-output-base = <1>;
	spi-monitor-common-ctrl = <&spim0>;
	pinctrl-0 = <>;
	num-cs = <4>;
	status = "okay";

	spi2_cs2: flash@2 {
		compatible = "jedec,spi-nor";
		reg = <2>;
		spi-max-buswidth = <4>;
		spi-max-frequency = <50000000>;
		label = "spi2_cs2";
		status = "okay";
	};

	spi2_cs3: flash@3 {
		compatible = "jedec,spi-nor";
		reg = <3>;
		spi-max-buswidth = <4>;
		spi-max-frequency = <50000000>;
		label = "spi2_cs3";
		status = "okay";
	};
};

&spim1 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12];
	log-ram-size = <0x200>;
	pinctrl-0 = <&pinctrl_spim1_cs &pinctrl_spim1_in_default &pinctrl_spim1_out_default
				&pinctrl_spim1_qspi_in_default &pinctrl_spim1_qspi_out_default
				&pinctrl_spim1_rst_out>;

	flash-device = <&spi2_cs0>;
	status = "okay";
};

&spim2 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12];
	log-ram-size = <0x200>;
	pinctrl-0 = <&pinctrl_spim2_cs &pinctrl_spim2_in_default &pinctrl_spim2_out_default
				&pinctrl_spim2_qspi_in_default &pinctrl_spim2_qspi_out_default
				&pinctrl_spim2_rst_out>;

	flash-device = <&spi2_cs1>;
	status = "okay";
};

&spim3 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12];
	log-ram-size = <0x200>;
	pinctrl-0 = <&pinctrl_spim3_cs &pinctrl_spim3_in_default &pinctrl_spim3_out_default
				&pinctrl_spim3_qspi_in_default &pinctrl_spim3_qspi_out_default
				&pinctrl_spim3_rst_out>;

	flash-device = <&spi2_cs2>;
	status = "okay";
};

&spim4 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12];
	log-ram-size = <0x200>;
	/* for demo purpose */
	read-forbidden-regions = <
		0x00000000 0x10000
		0x00274000 0x4000
		0x01E00000 0x80000
	>;

	write-forbidden-regions = <
		0x00000000 0x10000
		0x013FC000 0x28000
		0x0FFF8000 0x8000
	>;

	pinctrl-0 = <&pinctrl_spim4_cs &pinctrl_spim4_in_default &pinctrl_spim4_out_default
				&pinctrl_spim4_qspi_in_default &pinctrl_spim4_qspi_out_default
				&pinctrl_spim4_rst_out>;

	flash-device = <&spi2_cs3>;
	status = "okay";
};
