# ASPEED HACE driver configuration options

# Copyright (c) 2021 ASPEED Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config CRYPTO_ASPEED
	bool "ASPEED Hash and Crypto engine driver"
	depends on SOC_FAMILY_ASPEED
	help
	  This option enables the HACE driver for ASPEED SoCs.

config CRYPTO_ASPEED_HASH_DRV_NAME
	string "Device name for ASPEED Hash device"
	default "HASH_ASPEED"
	depends on CRYPTO_ASPEED
	help
	  Device name for ASPEED Hash device.

config RSA_ASPEED
	bool "ASPEED RSA engine driver"
	depends on SOC_FAMILY_ASPEED
	help
	  This option enables the RSA driver for ASPEED SoCs.

config ECDSA_ASPEED
	bool "ASPEED ECDSA engine driver"
	depends on SOC_FAMILY_ASPEED
	select RSA_ASPEED
	help
	  This option enables the RSA driver for ASPEED SoCs.
