CONFIG_SOC_AST2600=y
CONFIG_BOARD_AST2600_EVB=y
CONFIG_CACHE_ASPEED=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=200000000
CONFIG_CLOCK_CONTROL=y
CONFIG_FLASH_SIZE=0
CONFIG_FLASH_BASE_ADDRESS=0x0
CONFIG_SOC_SERIES_AST26XX=y
CONFIG_MAIN_STACK_SIZE=4096
CONFIG_NUM_PREEMPT_PRIORITIES=56
# CONFIG_XIP is not set
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_ASPEED=y
CONFIG_PINMUX=y
CONFIG_PINMUX_ASPEED=y
CONFIG_CLOCK_CONTROL_AST26XX=y
CONFIG_RESET_CONTROL=y
CONFIG_RESET_CONTROL_ASPEED=y
CONFIG_STACK_SENTINEL=y
CONFIG_EARLY_CONSOLE=y
CONFIG_REBOOT=y
CONFIG_ASSERT=y
# For CMSIS
CONFIG_POLL=y
CONFIG_THREAD_NAME=y
CONFIG_THREAD_STACK_INFO=y
CONFIG_THREAD_MONITOR=y
CONFIG_INIT_STACKS=y
CONFIG_NUM_PREEMPT_PRIORITIES=56
CONFIG_CMSIS_RTOS_V2=y