# SPDX-License-Identifier: Apache-2.0
#
# Aspeed BMC AST2600 board configuration
#
# Copyright (c) 2021 ASPEED Technology Inc.

config BOARD_AST2600_EVB
	bool "ASPEED AST2600 Evaluation Board"
	depends on SOC_AST2600

config BOARD_AST2605_EVB
	bool "ASPEED AST2605 Evaluation Board"
	depends on SOC_AST2605
