&pwm {
	status = "okay";
	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
			&pinctrl_pwm2_default &pinctrl_pwm3_default
			&pinctrl_pwm4_default &pinctrl_pwm5_default
			&pinctrl_pwm6_default &pinctrl_pwm7_default
			&pinctrl_pwm8_default &pinctrl_pwm9_default
			&pinctrl_pwm10_default &pinctrl_pwm11_default
			&pinctrl_pwm12_default &pinctrl_pwm13_default
			&pinctrl_pwm14_default &pinctrl_pwm15_default>;

};

&adc0 {
	status = "okay";
	pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
		&pinctrl_adc2_default &pinctrl_adc3_default
		&pinctrl_adc4_default &pinctrl_adc5_default
		&pinctrl_adc6_default &pinctrl_adc7_default>;
};

&adc1 {
	status = "okay";
	pinctrl-0 = <&pinctrl_adc8_default &pinctrl_adc9_default
		&pinctrl_adc10_default &pinctrl_adc11_default
		&pinctrl_adc12_default &pinctrl_adc13_default
		&pinctrl_adc14_default &pinctrl_adc15_default>;
};

&jtag1{
	status = "okay";
};

&sgpiom{
	status = "okay";
};

&tach {
	status = "okay";
	pinctrl-0 = <&pinctrl_tach0_default &pinctrl_tach1_default
			&pinctrl_tach2_default &pinctrl_tach3_default
			&pinctrl_tach4_default &pinctrl_tach5_default
			&pinctrl_tach6_default &pinctrl_tach7_default
			&pinctrl_tach8_default &pinctrl_tach9_default
			&pinctrl_tach10_default &pinctrl_tach11_default
			&pinctrl_tach12_default &pinctrl_tach13_default
			&pinctrl_tach14_default &pinctrl_tach15_default>;
	fan@0 {
		reg = <0>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN0";
	};

	fan@1 {
		reg = <1>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN1";
	};

	fan@2 {
		reg = <2>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN2";
	};

	fan@3 {
		reg = <3>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN3";
	};

	fan@4 {
		reg = <4>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN4";
	};

	fan@5 {
		reg = <5>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN5";
	};

	fan@6 {
		reg = <6>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN6";
	};

	fan@7 {
		reg = <7>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN7";
	};

	fan@8 {
		reg = <8>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN8";
	};

	fan@9 {
		reg = <9>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN9";
	};

	fan@a {
		reg = <0xa>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN10";
	};

	fan@b {
		reg = <0xb>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN11";
	};

	fan@c {
		reg = <0xc>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN12";
	};

	fan@d {
		reg = <0xd>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN13";
	};

	fan@e {
		reg = <0xe>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN14";
	};

	fan@f {
		reg = <0xf>;
		pulse-pr = <2>;
		min-rpm = <1000>;
		tach-div = <5>;
		label = "FAN15";
	};
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&pinctrl_i2c0_default>;

	eeprom0: eeprom0@40 {
		compatible = "atmel,at24";
		reg = <0x40>;
		label = "EEPROM_SLAVE_0";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb0: ipmb0@50 {
		compatible = "aspeed,ipmb";
		reg = <0x50>;
		label = "IPMB_SLAVE_0";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&i2c1 {
	pinctrl-0 = <&pinctrl_i2c1_default>;
	status = "okay";

	eeprom1: eeprom1@41 {
		compatible = "atmel,at24";
		reg = <0x41>;
		label = "EEPROM_SLAVE_1";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb1: ipmb1@51 {
		compatible = "aspeed,ipmb";
		reg = <0x51>;
		label = "IPMB_SLAVE_1";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&i2c2 {
	pinctrl-0 = <&pinctrl_i2c2_default>;
	status = "okay";

	eeprom2: eeprom2@42 {
		compatible = "atmel,at24";
		reg = <0x42>;
		label = "EEPROM_SLAVE_2";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb2: ipmb2@52 {
		compatible = "aspeed,ipmb";
		reg = <0x52>;
		label = "IPMB_SLAVE_2";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&i2c3 {
	pinctrl-0 = <&pinctrl_i2c3_default>;
	status = "okay";

	eeprom3: eeprom3@43 {
		compatible = "atmel,at24";
		reg = <0x43>;
		label = "EEPROM_SLAVE_3";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb3: ipmb3@53 {
		compatible = "aspeed,ipmb";
		reg = <0x53>;
		label = "IPMB_SLAVE_3";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&i2c4 {
	pinctrl-0 = <&pinctrl_i2c4_default>;
	status = "okay";

	eeprom4: eeprom4@44 {
		compatible = "atmel,at24";
		reg = <0x44>;
		label = "EEPROM_SLAVE_4";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb4: ipmb4@54 {
		compatible = "aspeed,ipmb";
		reg = <0x54>;
		label = "IPMB_SLAVE_4";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&i2c5 {
	pinctrl-0 = <&pinctrl_i2c5_default>;
	status = "okay";

	eeprom5: eeprom5@45 {
		compatible = "atmel,at24";
		reg = <0x45>;
		label = "EEPROM_SLAVE_5";
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
#ifdef CONFIG_I2C_EEPROM_SLAVE
		status = "okay";
#endif
	};

	ipmb5: ipmb5@55 {
		compatible = "aspeed,ipmb";
		reg = <0x55>;
		label = "IPMB_SLAVE_5";
		size = <5>;
#ifdef CONFIG_I2C_IPMB_SLAVE
		status = "okay";
#endif
	};

};

&espi {
	status = "okay";
	perif,memcyc-src-addr = <0x98000000>;
	perif,memcyc-size = <0x10000>;
	flash,safs-mode = <0x2>;
};

&udc {
	status = "okay";
};

&i3c_gr {
	status = "okay";
};

&i3c0 {
	status = "okay";
	assigned-address = <0x8>;
};

&i3c1 {
	status = "okay";
	assigned-address = <0x9>;
	secondary;
	i3c1_smq:i3c-slave-mqueue@9 {
		compatible = "aspeed,i3c-slave-mqueue";
		reg = <0x9>;
		msg-size = <256>;
		num-of-msgs = <4>;
		mandatory-data-byte = <0xbf>;
		label = "I3C_1_SMQ";
		status = "okay";
	};
};

&fmc {
	status = "okay";
};

&fmc_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		boot_partition: partition@0 {
			label = "image-0";
			reg = <0x0 0x100000>;
		};
		dfu_partition: partition@1 {
		       label = "image-1";
		       reg = <0x0 0x100000>;
	       };
	};
};

&fmc_cs1 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi1 {
	status = "okay";
};

&spi1_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi1_cs1 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi2 {
	status = "okay";
};

&spi2_cs0 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi2_cs1 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&wdt4 {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&timer3 {
	status = "okay";
};

&timer4 {
	status = "okay";
};

&timer5 {
	status = "okay";
};

&timer6 {
	status = "okay";
};

&timer7 {
	status = "okay";
};
