# I2C PFR configuration options

# Copyright (c) 2021 Aspeed Technology Inc.
# SPDX-License-Identifier: Apache-2.0

#
# I2C PFR options
#
menuconfig I2C_PFR
	bool "I2C PFR Support"
	help
	  Enable I2C PFR Support

if I2C_PFR

config I2C_PFR_INIT_PRIORITY
	int "Init pfr priority"
	default 60
	help
	  I2C PFR driver initialization priority.

	source "drivers/i2c/pfr/Kconfig.filter"
	source "drivers/i2c/pfr/Kconfig.mailbox"
	source "drivers/i2c/pfr/Kconfig.snoop"

endif # I2C_PFR
