# ASPEED misc. driver options

# Copyright (c) 2021 ASPEED
# SPDX-License-Identifier: Apache-2.0

config SNOOP_ASPEED
	bool "ASPEED LPC SNOOP driver"
	depends on SOC_FAMILY_ASPEED
	help
	  This option enables the snoop driver for ASPEED
	  SoCs.
	  Say y if you wish to use LPC data byte snooping
	  on ASPEED MCU.

config MAILBOX_ASPEED
	bool "ASPEED LPC Mailbox driver"
	depends on SOC_FAMILY_ASPEED
	help
	  This option enables the mailbox driver for ASPEED
	  SoCs.
	  Say y if you wish to use LPC mailbox on ASPEED MCU.

config PFR_SHELL_ASPEED
	bool "Enable ASPEED PFR shell"
	help
	  Enable PFR related control shell environment.

config PFR_FLOW_CTRL_AST1060
	bool "Enable ASPEED PFR Control Flow"
	help
	  This option enables the PFR related flow control,
	  including host reset and flash reset.
