&i3c_gr {
	status = "okay";
	pull-up-resistor-ohm = <2000>, <2000>, <2000>, <2000>, <2000>, <2000>;
};

&i3c0 {
	status = "okay";
	assigned-address = <0x8>;
};

&i3c1 {
	status = "okay";
	assigned-address = <0x8>;
};

&i3c2 {
	status = "okay";
	pinctrl-0 = <&pinctrl_hvi3c2_default>;
	assigned-address = <0x8>;
};
